@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap');

html{
    font-family: 'Orbitron', sans-serif;
}

body{
    background-image: url('jordan-icon.jpg');
    background-color: #1B244A;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    color: #EEEEEE;
}

/* Container */
.container{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    height: 540px;
    margin: 200px;
    padding-top: 50px;
    margin-left: 200px;
    margin-right: 200px;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
}

/* Home Scoreboard Design */
.homeScoreContainer, .guestScoreContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    background-color: #5254848f;
    box-sizing: border-box;
    width: 25%;
    padding: -50px;

    border-radius: 30px;
    border: 6px solid #fbf1ce;
}

.bodyHome{
    background-color: #080001;

    border-radius: 20px;
    border: 2px solid #fbf1ce;

    width: 250px;
    height: 300px;
    text-align: center;

    /* border-color: rgb(37, 37, 37); */
}

.footerHome{
    margin: 30px 0px;
    cursor: context-menu;
}

.scoreButton{
    background-color: #1B244A;
    height: 50px;
    width: 50px;
    color: #9AABD8;
    border: 3px solid #9AABD8;
    border-radius: 8px;
    border-style: groove;
    cursor: pointer;
    font-size: 18px;
}

.homeScore{
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 160px;
    text-align: center;
    color: #F94F6D;
}

h3{
    letter-spacing: 10px;
    font-weight: 100;
    color: #f6d15f
}

.centerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 60vh;
}

.time-el{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #080001;
    color: #F94F6D;

    border-radius: 10px;
    border: 5px solid #fbf1ce;

    padding: 0 100px;
}

.newGame-btn{
    background-color: #f6d15f;
    color: #525484;

    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;

    border: none;
    border: 2px solid #525484;
    border-radius: 5px;

    padding: 10px 50px;
}

p{
    font-size: 20px;
    color: #f6d15f;
}

h2{
    margin-top: -10px;
}

/* marquee{
    color: #f6d15f;
    text-transform: uppercase;
} */



